# Managed by Ansible. Changes made here are overwritten.

ui           = false
api_addr     = "{{ openbao_api_addr }}"
cluster_addr = "{{ openbao_cluster_addr }}"

storage "raft" {
  path    = "{{ openbao_data_dir }}"
  node_id = "{{ openbao_node_id }}"
}

listener "tcp" {
  address         = "{{ openbao_listen_address }}"
  cluster_address = "{{ openbao_cluster_listen_address }}"
  tls_cert_file   = "{{ openbao_tls_dir }}/openbao.crt"
  tls_key_file    = "{{ openbao_tls_dir }}/openbao.key"
  tls_min_version = "tls12"
}
