[Unit]
Description={{ compose_app_display_name | default(compose_app_name | capitalize) }} compose stack
Requires=docker.service
After=docker.service
{% if compose_app_share_tag | default('') | length > 0 %}
RequiresMountsFor={{ compose_app_share_path }}
{% endif %}

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ compose_app_project_dir }}
ExecStart=/usr/bin/docker compose up -d --build --remove-orphans
ExecReload=/usr/bin/docker compose up -d --build --remove-orphans
ExecStop=/usr/bin/docker compose stop
TimeoutStartSec=1200

[Install]
WantedBy=multi-user.target
